@use 'vars' as v;

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}
h1, h2, h3 {
    font-family: v.$fuente_heading;
    margin: 0;
}
.contenedor {
    max-width: 120rem;
    margin:0 auto;
}
a {
    text-decoration: none;
    color: v.$negro;
}
img{
    max-width: 100%;
    display: block;
}
.btn {
    color: v.$blanco;
    background: v.$primario;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 4rem;
}