// Fuentes
$fuente_principal: "Raleway", sans-serif;
$fuente_heading: "Quicksand", sans-serif;

// MQ
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primario: #3ea83b;
$blanco: #fff;
$negro: #000;
$gris: #8c8c8c;
$secundario: #3646d9;
